coverage==7.14.0
# Editable install with no version control (hanoi2==0.1.0)
-e /Users/zecafig/Documents/GitHub/hanoi2
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
pygame-ce==2.5.7
Pygments==2.20.0
pytest==9.0.3
pytest-cov==7.1.0
ruff==0.15.14
